:root {
  --primary-color: #F7ECDE;
  --secondary-color: #E9DAC1;
  --font-color: #424242;
  --bg-color: #F7ECDE;
  --header-color: #9ED2C6;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #1d1d3a;
  --header-color: #818cab;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  height: 1rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}

button {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}

button:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}

button:active {
  position: relative;
  top: 1px;
}

.checkbox {
  clip-path: circle(46% at 50% 50%);
  height: 32px;
  width: 32px;
}

.checkbox[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}

.checkbox[type="checkbox"]:after {
  top: -20px;
  width: 16px;
  height: 16px;
}

.header {
  width: 100%;
  height: 8rem;
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 8rem;
}

.gh-container {
  float: right;
  height: 100%;
  display: flex;
}

.gh-logo-link {
  align-self: center;
}

.gh-logo {
  margin-right: 2rem;
}

.welcome-header {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: x-large;
  color: var(--font-color);
}

.todo-container {
  width: 40%;
  margin: auto;
  background-color: var(--secondary-color);
  border-radius: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.todo-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.todo-card {
  width: 100%;
  height: 5rem;
  background-color: var(--primary-color);
  margin: 1rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.todo-content {
  margin-left: 4rem;
}

.update-delete {
  cursor: pointer;
  position: absolute;
  right: 10%;
}

.update-button {
  width: 3rem;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

.overline {
  text-decoration: line-through;
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: var(--primary-color);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.login-inputs {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.login-text {
  text-align: center;
}

.welcome-text {
  text-align: center;
  color: var(--font-color);
}

.create-todo-container {
  height: 8rem;
  margin: 2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-warning {
  margin-left: 3rem;
  margin-top: 0;
  color: crimson;
}

.what-to-do {
  margin: 1rem;
}

.theme-container {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

#toggle_checkbox {
  display: none;
}

label {
  width: 116px;
  height: 56px;
  margin-right: 2rem;
  margin-top: 3.5rem;
  background-color: #77b5fe;
  border-radius: 56px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s ease background-color;
  overflow: hidden;
}

#star {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 30px;
  height: 30px;
  background-color: #fafd0f;
  transform: scale(1);
  border-radius: 50%;
  transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform,
    0.3s ease background-color;
  z-index: 1;
}

#star-1 {
  position: relative;
}

#star-2 {
  position: absolute;
  transform: rotateZ(36deg);
}

.star {
  top: 0;
  left: -7px;
  font-size: 54px;
  line-height: 28px;
  color: #fafd0f;
  transition: 0.3s ease color;
}

#moon {
  position: absolute;
  bottom: -52px;
  right: 8px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s ease bottom;
}

#moon:before {
  content: "";
  position: absolute;
  top: -12px;
  left: -17px;
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label {
  background-color: #000;
}

#toggle_checkbox:checked + label #star {
  top: 3px;
  left: 64px;
  transform: scale(0.3);
  background-color: yellow;
}

#toggle_checkbox:checked + label .star {
  color: yellow;
}

#toggle_checkbox:checked + label #moon {
  bottom: 8px;
}

#toggle_checkbox:checked + label #moon:before {
  background-color: #000;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
