body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  height: 5rem;
  background-color: lightblue;
}

.gh-container {
  margin-left: 90%;
  width: 1rem;
  display: flex;
  background-color: black;
}

.todo-container {
  width: 50%;
  margin: auto;
  max-height: 40rem;
  background-color: aquamarine;
  margin-top: 5rem;
  border-radius: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.todo__card {
  width: 30rem;
  height: 8rem;
  background-color: blue;
  margin: 1rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
}

.checkbox {
  clip-path: circle(46% at 50% 50%);
  height: 32px;
  width: 32px;
}

.checkbox[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}

.checkbox[type="checkbox"]:after {
  top: -20px;
  width: 16px;
  height: 16px;
}

.todo-content{
  margin-left: 4rem;
}

.update__delete{
  width: 3rem;
  display: flex;
  flex-direction: column; 
  margin-left: 15rem;
  align-content: flex-end;
}

.update__button{
  width: 3rem;
  margin-bottom: 1.5rem;
}