body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 5rem;
  background-color: lightblue;
}

.gh-container{
  margin-left: 90%;
  width: 1rem;
  display: flex;
  background-color: black;
}

.todo-container{
  width: 75%;
  margin: auto;
  min-height: 40rem;
  background-color: aquamarine;
  margin-top: 5rem;
  border-radius: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.todo__card{
  width: 30rem;
  height: 18rem;
  background-color: blue;
  margin: 1rem;
  border-radius: 4rem;
}